# registry=http://localhost:4873/

#  docker run -it --rm \
#   -p 4873:4873 \
#   verdaccio/verdaccio

# docker run -d \
#   --name verdaccio \
#   -p 4873:4873 \
#   -v verdaccio_storage:/verdaccio/storage \
#   -v verdaccio_conf:/verdaccio/conf \
#   verdaccio/verdaccio


# pnpm adduser --registry http://localhost:4873

# pnpm publish --registry http://localhost:4873/

# pnpm publish --no-git-checks --registry http://localhost:4873

# npm install @krgeobuk/database-config --registry=http://localhost:4873